.btn {
  display: block;
  outline: none;
  border: none;
  background: var(--primary-color);
  padding: 1.4rem 4rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 1rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    letter-spacing: 2px;
  }
  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}
